
body{
    background-color: #eee;
    margin:0px;
    padding:0px;
}
#main{
  height:694px;
}
#title_id{
    text-align:center;
    line-height: 50px;
    color: #9d9d9d;
    font-weight : bold;
    font-size:30px
}

#header{
display:flex;
}

.navbar{
     border-radius: 0px;
}




.footer{
       background-color: #222;
       color: #9d9d9d;
       height: 107px;
       text-align: center;
       padding: 28px;
}
