#main_login{
text-align:center;
margin:100px auto;
}

.find{
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.find p{
margin : 10px
}

.login_btn{
    color: white;
    font-weight: bold;
    background-color: #6d6d6d;
    width: 180px;
    height: 43px;
    font-size: 25px;
}