#main_agree, #main_sign{
text-align:center;
margin:90px auto;
}
.agreeBox{
    margin:auto;
    width:800px;
}

.agreeBox h4{
    text-align:left;
    margin: 12px 40px;
    font-weight:bold;
}
.agreeBox textarea{
    outline:none;
}

.agreeCheck{
    text-align:right;
    margin-right: 40px;
}
.main_btn{
margin-top:1px;
}